{% extends 'cdb/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->

    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            {% include 'cdb/partials/_topbar.html' %}
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid" id="pwd-reset-form">

                <form action="{% url 'reset_password' %}" method="POST">
                    {% csrf_token %}

                    <div class="field">
                        <label for="{{ form.email.id_for_label }}" class="label">
                            Email
                        </label>
                        <div class="control">
                            {{ form.email|add_class:"input" }}
                        </div>
                        <p class="help is-danger">{{ form.email.errors }}</p>
                    </div>


                    <div class="field">
                        <div class="control">
                           <button type="submit" class="btn btn-lg btn-warning">Submit</button>
                        </div>
                    </div>
                </form>

            </div>
            <!-- End of Content Wrapper -->

        </div>
    </div>
</div>
</body>
{% endblock %}