{% extends 'cdb/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            {% include 'cdb/partials/_topbar.html' %}
            <!-- Begin Page Content -->
            <div class="container-fluid" id="pwd-reset-form">
                <h1>Check your mail box, if u couldn't find the email try chceking spam</h1>
            </div>
            <!-- End of Content Wrapper -->
        </div>
    </div>
</div>
</body>
{% endblock %}