{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/cus/search2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin-search.css' %}"/>
</head>
<body>
<div class="container-fluid">
    <img src="{% static 'img/1288px-Emblem_of_Nepal.svg.png' %}" alt="N.D.C" class="float-left" height="200"
         width="device-width" style="width: 140px; height: 120px">
</div>

{% if request.user.is_superuser %}
    <form method="get" action="{% url 'admin-search' %}">
        <input type="text" id="admin-Search" onkeyup="myFunction()"
               placeholder="Search...(Data Title/Content/Category/Related to Offices/Data Range )"
               title="Search According to Category()" name="q">
        <input type="submit" id="ad" value="search"/>
    </form>
    {% endif %}

    {% for group in user.groups.all %}
    {% if group.name != 'Data_Entry_Officer' %}
    <form method="get" action="{% url 'admin-search' %}">
        <input type="text" id="admin-Search2" onkeyup="myFunction()"
               placeholder="Search...(Data Title/Content/Category/Related to Offices/Data Range )"
               title="Search According to Category()" name="q">
        <input type="submit" id="ad2" value="search"/>
    </form>
    {% endif %}
    {% endfor %}

<hr>

<div class="container">
    <div class="row">
        {% if ad_fed_executive_items %}
        <div class="col-sm">
            <div class="card">
                <div class="card-header bg-default" align="center">
                    <b>Federal EXECUTIVE</b>
                </div>
                {% for it in ad_fed_executive_items %}
                <div class="card-body">
                    <h4>{{ it.title }}.</h4>

                    <p>{{it.description|slice:"150"}}</p>
                    <a type="button" class="btn btn-primary" style="float: left;" href="#">{{it.related_ministry}}</a>
                    <h6>{{ it.timestamp }}</h6>
                </div>

                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if ad_fed_legislative_items %}
        <div class="col-sm">

            <div class="card">
                <div class="card-header bg-default" align="center">
                    <b>Federal LEGISLATIVE</b>
                </div>

                {% for it in ad_fed_legislative_items %}
                <div class="card-body">
                    <h4>{{ it.title }}.</h4>

                    <p>{{it.description|slice:"150"}}</p>

                    <a type="button" href="" class="btn btn-primary" style="float: left;">{{it.related_house}}</a>
                    <h6 style="float: right;">{{ it.timestamp }}</h6>
                </div>
                {% endfor %}
            </div>

        </div>
        {% endif %}

        {% if ad_fed_judiciary_items %}
        <div class="col-sm">

            <div class="card">
                <div class="card-header bg-default" align="center">
                    <b>Federal Judiciary</b>
                </div>
                {% for it in ad_fed_judiciary_items %}
                <div class="card-body">
                    <h4>{{ it.title }}.</h4>

                    <p>{{it.description|slice:"150"}}</p>

                    <a type="button" href="" class="btn btn-primary" style="float: left;">{{it.related_court}}</a>
                    <h6 style="float: right;">{{ it.timestamp }}</h6>
                </div>
                {% endfor %}
            </div>

        </div>
        {% endif %}
    </div>
    <hr>
    <!--provincial search results here-->
    <div class="row">
        {% if ad_pro_executive_items %}
        <div class="col-sm">
            <div class="card">
                <div class="card-header bg-default" align="center">
                    <b>Provincial EXECUTIVE</b>
                </div>
                {% for it in ad_pro_executive_items %}
                <div class="card-body">
                    <h4>{{ it.title }}.</h4>

                    <p>{{it.description|slice:"150"}}</p>

                    <a type="button" href="" class="btn btn-primary" style="float: left;">{{it.related_ministry}}</a>
                    <h6>{{ it.timestamp }}</h6>
                </div>

                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if ad_pro_parliament_items %}
        <div class="col-sm">
            <div class="card">
                <div class="card-header bg-default" align="center">
                    <b>Provincial Parliament</b>
                </div>
                {% for it in ad_pro_parliament_items %}
                <div class="card-body">
                    <h4>{{ it.title }}.</h4>

                    <p>{{it.description|slice:"150"}}</p>

                    <a type="button" href="" class="btn btn-primary" style="float: left;">{{it.related_parliament}}</a>
                    <h6>{{ it.timestamp }}</h6>
                </div>

                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if ad_pro_judiciary_items %}
        <div class="col-sm">
            <div class="card">
                <div class="card-header bg-default" align="center">
                    <b>Provincial Judiciary</b>
                </div>
                {% for it in ad_pro_judiciary_items %}
                <div class="card-body">
                    <h4>{{ it.title }}.</h4>

                    <p>{{it.description|slice:"150"}}</p>

                    <a type="button" href="" class="btn btn-primary" style="float: left;">{{it.court}}</a>
                    <h6>{{ it.timestamp }}</h6>
                </div>

                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
</body>
</html>