{% extends 'cdb/base.html' %}
{% load static %}
{% block content %}
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->

    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            {% include 'cdb/partials/_topbar.html' %}
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Provincial Parliament Data Table</h1>
                <!--p class="mb-4">All the Data of Federal Executive government.</p-->
                <a class="mb-4 btn btn-success" href="{% url 'entry-dashboard' %}">Go Back to Dashboard</a>
                <a class="mb-4 btn btn-success" id="add_btn" href="{% url 'pro-add-parliament' %}">ADD NEW PARLIAMENT
                    DATA</a>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Parliament DataTable</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead style="font-size: 13px;">
                                <tr>
                                    <th style="width: 400px;">TITLE</th>
                                    <th style="width: 40px;">AUTHOR</th>
                                    <th style="width: 5px;">IS PUBLISHED</th>
                                    <th style="width: 400px;">PROVINCE</th>
                                    <th style="width: 40px;">CATEGORY</th>
                                    <th style="width: 5px;">IS PRIVATE</th>
                                    <th>ACTIONS</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% if pro_parliament_table %}
                                {% for par in pro_parliament_table %}
                                <tr>
                                    <td>{{par.title}}</td>
                                    <td>{{par.author }}</td>
                                    <td>{{par.is_published}}</td>
                                    <td>{{par.select_province }}</td>
                                    <td>{{par.category}}</td>
                                    <td>{{par.is_private}}</td>
                                    <td><a href="{% url 'pro-parliament-update'  par.id  %}"><i class="far fa-edit"
                                                       id="edit-crc"></i></a>
                                        <a href="{% url 'pro-parliament-delete'  par.id  %}"><i class="fas fa-times-circle"
                                                       id="dlt-crc"></i></a>

                                    </td>


                                </tr>
                                {% endfor %}
                                {% endif %}

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->

</div>
</body>
{% endblock %}